.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F5F8;
}

header {
    padding: 46px 98px 79px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
}

ul {
    display: flex;
    gap: 91px;
}
li a {
    color: #8172D5;
    font-family: 'Ubuntu';
    font-size: 24px;
}
section {
    width: 90%;
    margin: 52px auto 63px auto;
}

.section_title{
    color: #225857;
    font-size: 32px;
    font-family: 'Ubuntu';
    margin-bottom: 69px;
}
p {
    color: #133B3A;
    font-size: 20px;
    width: 90%;
    text-align: justify;
}
.cards {
    width: 100%;
    height: 831px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    font-size: 20px;

}
.card{
    width: 30%;
    height: 368px;
    border-radius: 10px;
    padding-top: 33px;
    padding-bottom: 36px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.card_img{
    width: 90%;
    height: 158px;
}
footer {
    width: 100%;
    padding: 46px 98px 30px 97px;
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
}

.search_box {
    width: 449px;
    height: 64px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fa-magnifying-glass {
    color: #9747FF;
    font-size: 30px;
}
   