.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F5F8;
}
header{
    padding: 46px 98px 79px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
}
ul{
    display: flex;
    gap: 91px;
    font-size: 24px;
}
li a{
    color: #8172D5;
    font-family: 'Ubuntu';
}